body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

text {
	fill:black;
}

path {
   stroke:#555;
   stroke-width:2;
   fill:blue;
   fill-opacity:0.4;
}

.cvalue {
  fill:#555;
}

line {
  stroke:black;
  stroke-width:1;
}